* {
  font-family: Verdana;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  background-image: url(assets/backgrounds/holo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-light-100 {
  background-color: #fff5f0;
}

.bg-light-200 {
  background-color: #ffeae0;
}

.bg-dark-purple {
  background-color: #351c75;
}

.bg-primary {
  background-color: #ffffff;
}

.bg-second {
  background-color: #f7f5de;
}

.text-light-100 {
  color: #fff5f0;
}

.text-dark-purple {
  color: #351c75;
}

.text-light-200 {
  color: #ffeae0;
}

.text-l1 {
  color: #fff1f9cc;
}

.border-light-100 {
  border-color: #fff5f0;
}

.border-light-200 {
  border-color: #ffeae0;
}

.border-primary {
  border-color: #351c75;
}

.left-menu {
  background-color: #351c75 !important;
}

.ant-drawer-content-wrapper {
  width: 80px !important;
}

.font-Verdana {
  font-family: Verdana;
}

.font-Metrophobic {
  font-family: "Metrophobic" !important;
}

.font-Trebuchet {
  font-family: "Trebuchet MS" !important;
}

li {
  font-family: "Metrophobic";
}

.height-60 {
  height: 60px !important;
}

.menu-btn {
  background-color: #fff5f0 !important;
  color: #351c75 !important;
  border-color: #ffeae0 !important;
}
